*{
    margin: 0;
    padding: 0;
}
body{
    background: url(./assest/image/bg_main.gif) repeat-y top center ;
}
.cont{
    width: 996px;
    margin-left: 185px;
}
.hadetop{
    background-color: blueviolet;
    color: white;
  
    font-size: 12px;
    border-bottom: 1px solid red;
}
.textright{
    border-left: 1px solid gray;
}
.manu a{
    font-size: 13px;
    color: black;
    background: rgb(195, 194, 194);
    border-right: 1px solid gray;
}
.manu a:hover{
    font-size: 13px;
    color: white;
    background: black;

}
.baner1{
    border: 1px solid red;
}
.list {
margin-top: 20px;
}
.sid{
    padding-top: 10px;
}

